#LogoLanche {
    height: 258px;
    margin-left: 422px;
    background-color: yellow;
}

header {
    background-color: yellow;
    padding: 0;
    height: 259px;
}

.header-line {
    width: 100%;
    height: 10px;
}

nav {
    position: absolute;
    top: 233px;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    color: black;
    text-align: center;
    margin-top: -9px;
    font-size: 16px;
    margin-left: -887px;
    margin-right: -691px;
}

nav li {
    display: inline-flex;
    margin: 0 -16px;
}

nav a {
    font-size: 25px;
    font-family: sans-serif;
    padding: 10px;
    margin-left: 107px;
    color: white;
    border-radius: 297px;
    text-decoration: none;
    margin-top: -41px;
}

#poucodenos {
    height: 122px;
    margin-left: 568px;
    margin-bottom: 75px;
}

#algumasperguntas {
    height: 122px;
    margin-left: 568px;
    margin-bottom: 75px;
}

main{
    background-color: #3e94ff;
    padding-top: 32px;
    padding-bottom: 833px;
}

#osmaisqueridinhos {
    font-size: 30px;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 0px;
    text-transform: uppercase;
    background-color: #3e94ff;
    padding-right: 495px;
    padding-left: 491px;
    margin-top: -3px;
    color: white;
}

.main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.lanche {
    width: 374px;
    margin: 12px;
    padding: 17px;
    border: 5px solid #ff730d;
    text-align: center;
    border-radius: 106px;
    background-color: #ffff00;
}

.lanche img {
    width: 65%;
    margin-bottom: -32px;
    box-shadow: 2px -2px 46px rgb(9 0 0 / 20%);
}

.lanche h2 {
    font-size: 27px;
    font-family: sans-serif;
    margin-bottom: -24px;
}

.lanche .descricao {
    font-style: italic;
    margin-bottom: -16px;
    font-size: 22px;
}

.lanche .preco {
    font-family: sans-serif;
    color: #008c00;
    font-size: 34px;
    font-weight: bold;
    margin-top: 21px;
}

.lanche .desconto {
    color: #970000;
    text-decoration: line-through;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-top: -35px;
}

.banner-container {
    text-align: center;
    margin-top: 20px; /* Ajuste conforme necessário */
}
#bannermaclan{
    height: 318px;
    border-radius: 41px;
}

#quemsoueu{
    color: white;
    font-size: 18px;
    margin-bottom: -407px;
    padding-left: 662px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
}